.message-parent{
    width: max-content;
    padding: 3px;
    height: 50px;
    background-color: rgb(182, 116, 66);
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    top: 20px;
    left: 20px;

}
.message-parent>i{
    color: rgb(254, 255, 255);
    line-height: 50px;
    padding-left: 5px;
}
.message-parent>span{
    margin-left: 10px;
    color: white;
}